{%  extends 'Cportal/main.html' %}

{% block content %}

        <!-- Content Header (Page header) -->
        <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark"> Dashboard</h1>
              </div><!-- /.col -->
              <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
              </div> -->
              <!-- /.col -->
            </div><!-- /.row -->
          </div><!-- /.container-fluid -->
        </div>
        <!-- /.content-header -->
    
        <!-- Main content -->
        <section class="content">
          <div class="container-fluid">
            <!-- Small boxes (Stat box) -->
            <div class="row">
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-info">
                  <div class="inner">
                    <h3>{{prefcountv4}}</h3>
    
                    <p>Total IPv4 Prefixes</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                  <div class="inner">
                    <h3>{{prefcountv6}}</h3>
    
                    <p>Total IPv6 Prefixes</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-stats-bars"></i>
                  </div>
                  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                  <div class="inner">
                    <h3>24</h3>
    
                    <p>Total Users</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-person-add"></i>
                  </div>
                  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
              <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-danger">
                  <div class="inner">
                    <h3>65</h3>
    
                    <p>Unique Visitors</p>
                  </div>
                  <div class="icon">
                    <i class="ion ion-pie-graph"></i>
                  </div>
                  <a href="#" class="small-box-footer">More info <i class="fas fa-arrow-circle-right"></i></a>
                </div>
              </div>
              <!-- ./col -->
            </div>
            <!-- /.row -->
            <!-- Main row -->
           
              <div class="col-md-9">
                
              <!-- /.card-footer-->
              </div>
            <!-- Main row -->
            <div class="row">     
              <section class="col-lg-7 connectedSortable">
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-chart-pie mr-1"></i>
                      Dashboard element will be here 
                    </h3>
                    
                  </div>
                  <div class="card-footer">
                    <form action="/search/" method="post">
                      {% csrf_token %}
                      <div class="input-group">
                        <input class="form-control form-control-lg" type="text" name="cmd" placeholder="Input here ..." class="form-control">
                        <span class="input-group-append">
                          <button type="submit"  class="btn btn-primary">Send</button>
                        </span>
                      </div>
                      {% if output %}
                        <!-- {{ output|linebreaks }} -->
                        <pre>{{ output }}</pre>
                      {% endif %}
                      {% if exit_code %}
                        <h3>Your command returned an error: {{ error_msg }}</h3>
                      {% endif %}
                    </form>
                  </div>
                </div>
                <div>
                  {% for i in prefcount%}
                    {{i}}
                  {% endfor%}
                </div>
                <div class="card">
                  <div class="card-header">
                    <h3 class="card-title">
                      <i class="fas fa-chart-pie mr-1"></i>
                      BGP Route path Data will be here: 
                    </h3>
                  </div>
                  <div class="card-footer">
                    
                  </div>
                </div>
                
                
              </section>
              <!-- /.Left col -->
              <!-- right col (We are only adding the ID to make the widgets sortable)-->
              <section class="col-lg-5 connectedSortable">
                
                  <!-- Map card -->
                  <div class="card bg-gradient-primary">
                   
                    <!-- /.card-body-->
                    <div class="card-footer bg-transparent">
                      <div class="row">
                        <div class="col-4 text-center">
                          <div id="sparkline-1"></div>
                          <div class="text-white">Visitors</div>
                        </div>
                        <!-- ./col -->
                        <div class="col-4 text-center">
                          <div id="sparkline-2"></div>
                          <div class="text-white">Online</div>
                        </div>
                        <!-- ./col -->
                        <div class="col-4 text-center">
                          <div id="sparkline-3"></div>
                          <div class="text-white">Sales</div>
                        </div>
                        <!-- ./col -->
                      </div>
                      <!-- /.row -->
                    </div>
                  </div>
                  <!-- /.card -->

                  <!-- Calendar -->
                  <div class="card bg-gradient-success">
                    <div class="card-header border-0">
      
                      <h3 class="card-title">
                        <i class="far fa-calendar-alt"></i>
                        Calendar
                      </h3>
                      <!-- tools card -->
                      <div class="card-tools">
                        <!-- button with a dropdown -->
                        <div class="btn-group">
                          <button type="button" class="btn btn-success btn-sm dropdown-toggle" data-toggle="dropdown" data-offset="-52">
                            <i class="fas fa-bars"></i></button>
                          <div class="dropdown-menu" role="menu">
                            <a href="#" class="dropdown-item">Add new event</a>
                            <a href="#" class="dropdown-item">Clear events</a>
                            <div class="dropdown-divider"></div>
                            <a href="#" class="dropdown-item">View calendar</a>
                          </div>
                        </div>
                        <button type="button" class="btn btn-success btn-sm" data-card-widget="collapse">
                          <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-success btn-sm" data-card-widget="remove">
                          <i class="fas fa-times"></i>
                        </button>
                      </div>
                      <!-- /. tools -->
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body pt-0">
                      <!--The calendar -->
                      <!-- <iframe src="http://103.16.152.8:3000/d-solo/3In6qUMmz/device_health_check_demo?orgId=1&from=1605685331324&to=1605771731324&var-Node=BSCCL-COX-CORE-01&panelId=2" width="450" height="200" frameborder="0"></iframe> -->
                      <div id="calendar" style="width: 100%"></div>
                    </div>
                    <!-- /.card-body -->
                  </div>
                  <!-- /.card -->
                  <!-- <iframe src="http://192.168.200.230:3000/d-solo/3In6qUMmz/device_health_check_demo?orgId=1&from=1610032923765&to=1610119323765&var-Node=BSCCL-DHK-AGG-01&panelId=69" width="450" height="200" frameborder="0"></iframe> -->
                  <!-- <iframe src="http://103.16.152.8:3000/d-solo/3In6qUMmz/device_health_check_demo?orgId=1&var-Node=BSCCL-DHK-CORE-01&from=1609574623654&to=1609661023654&panelId=69&output=embed" width="450" height="200" frameborder="0"></iframe> -->
                  <!-- <iframe src="http://103.16.152.8:3000/d-solo/3In6qUMmz/device_health_check_demo?var-Node=BSCCL-DHK-CORE-01&from=1610281776421&to=1610368176421&orgId=1&panelId=69" width="450" height="200" frameborder="0"></iframe> -->
              </section>
              <!-- right col -->
            </div>
            <!-- /.row (main row) -->
          </div>
          <!-- /.container-fluid -->

{% endblock %}