{% extends 'Cportal/main.html' %} 
{% load static %} 
{% block content %}

<section class="content">
  <hr />
  {% include 'Cportal/status.html' %}
  <!-- Content Header (Page header) -->
  <!-- <div class="content-header">
          <div class="container-fluid">
            <div class="row mb-2">
              <div class="col-sm-6">
                <h1 class="m-0 text-dark"> Dashboard</h1>
              </div>
              <!-- /.col -->
  <!-- <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                  <li class="breadcrumb-item"><a href="#">Home</a></li>
                  <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
              </div> -->
  <!-- /.col -->
  <!-- </div>
            <!-- /.row --
          </div>
          <!-- /.container-fluid -->
        <!-- </div> -->
  <!-- /.content-header -->

  <!-- Main content -->

  <!-- Main row -->
  <div class="row">
    <section class="col-lg-8 connectedSortable">
      
      {% include 'Cportal/small-boxs.html' %}
      <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div>
          <div class="row">
            <div class="container container-fluid col-sm-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">
                    <i class="fas fa-chart-pie mr-1"></i>
                    Customer properties
                  </h3>
                </div>
                <div class="card card-body">
                  <a
                    class="btn btn-primary btn-sm btn-block"
                    href="{% url 'customerproperties' %}"
                    >Add customer properties</a
                  >
                  <table class="table table-sm" style="border-style: initial;">
                    <tr style="background: rgb(150, 255, 150);">
                      <th>Customer Name</th>
                      <th>AS Number</th>
                      <th>Peering IP</th>
                      <th>Location</th>
                      <th style="text-align: center;">Bandwidth</th>
                      <th style="text-align: center;">Type</th>
                      <!-- <th>Update</th>
                      <th>Remove</th> -->
                    </tr>
                    {% for cp in custpro %}
                    <tr>
                      <td>{{cp}}</td>
                      <td>{{cp.ASN}}</td>
                      <td>{{cp.peering_IP}}</td>
                      <td>{{cp.customer_location}}</td>
                      <!-- <td>{{cp.connected_interface.interface_name}}</td> -->
                      <td style="text-align: right">{{cp.customer_Bandwidth}} {{cp.customer_unit}}</td>
                      <td style="text-align: center;">{{cp.name.customer_type}}</td>
                      <!-- <td><a class="btn btn-sm btn-warning" href="#">Update</a></td>
                      <td><a class="btn btn-sm btn-danger" href="#">Cancel</a></td> -->
                    </tr>
                    {% endfor %}
                  </table>
                </div>
              </div>
            </div>
            <!-- <div class="container  col-lg-4">
              <div class="card">
              <div class="card-header">
                <h3 class="card-title">
                  <i class="fas fa-arrow-circle-right mr-1"></i>
                  List of Customers:
                </h3>
              </div>
              <div class="card card-body">
                <a
                    class="btn btn-primary btn-sm btn-block"
                    href="{% url 'userinfo' %}"
                    >Add customer</a
                  >

                <ul class="list-group">
                  {%for u in user %}
                  <li class="list-group-item">
                    <!-- <a href="#" class="nav-link"> 
                    <i class="nav-icon fas fa-copy"></i>
                    {{u.customer_name}}
                    </a>
                  </li>
                  {% endfor %}
                </ul>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </section>
    <!-- /.Left col -->
    <!-- right col (We are only adding the ID to make the widgets sortable)-->
    <section class="col-lg-4 connectedSortable">
      <!-- Map card -->
      <div class="card bg-gradient-primary">
        <div class="card-header border-0">
          <h3
            class="card-title"
            style="font-style: normal; text-align: justify"
          >
            <i class="far fas fa-tachometer-alt"></i>
            Clock
          </h3>
        </div>
        <div class="card-body pt-0">
          <div id="clock">8:10:45</div>
        </div>
      </div>
      <!-- /.card -->

      <!-- Calendar -->

      <div class="card bg-gradient-success">
        <div class="card-header border-0">
          <h3 class="card-title">
            <i class="far fa-calendar-alt"></i>
            Calendar
          </h3>
          <!-- tools card -->
          <div class="card-tools">
            <!-- button with a dropdown -->
            <div class="btn-group">
              <button
                type="button"
                class="btn btn-success btn-sm dropdown-toggle"
                data-toggle="dropdown"
                data-offset="-52"
              >
                <i class="fas fa-bars"></i>
              </button>
              <div class="dropdown-menu" role="menu">
                <a href="#" class="dropdown-item">Add new event</a>
                <a href="#" class="dropdown-item">Clear events</a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item">View calendar</a>
              </div>
            </div>
            <button
              type="button"
              class="btn btn-success btn-sm"
              data-card-widget="collapse"
            >
              <i class="fas fa-minus"></i>
            </button>
            <button
              type="button"
              class="btn btn-success btn-sm"
              data-card-widget="remove"
            >
              <i class="fas fa-times"></i>
            </button>
          </div>
          <!-- /. tools -->
        </div>
        <!-- /.card-header -->
        <div class="card-body pt-0">
          <!--The calendar -->
          <div id="calendar" style="width: 100%"></div>
        </div>
        <!-- /.card-body -->
        
      </div>
      <!-- /.card -->
      <!-- <iframe src="http://192.168.200.230:3000/d-solo/3In6qUMmz/device_health_check_demo?orgId=1&from=1610032923765&to=1610119323765&var-Node=BSCCL-DHK-AGG-01&panelId=69" width="450" height="200" frameborder="0"></iframe> -->
      <!-- <iframe src="http://103.16.152.8:3000/d-solo/3In6qUMmz/device_health_check_demo?orgId=1&var-Node=BSCCL-DHK-CORE-01&from=1609574623654&to=1609661023654&panelId=69&output=embed" width="450" height="200" frameborder="0"></iframe> -->
      <!-- <iframe src="http://103.16.152.8:3000/d-solo/3In6qUMmz/device_health_check_demo?var-Node=BSCCL-DHK-CORE-01&from=1610281776421&to=1610368176421&orgId=1&panelId=69" width="450" height="200" frameborder="0"></iframe> -->
    </section>
    <!-- right col -->
  </div>
  <!-- /.row (main row) -->
</section>

<!-- /.container-fluid -->

{% endblock %}
