<div>
    <div class="container-fluid">
      <!-- Small boxes (Stat box) -->
      <div class="row">
        <div class="col-lg-2 col-sm-3 col-md-4">
          <!-- small box -->
          <div class="small-box bg-gradient-success">
            <a href="{% url 'customers' %}" class="small-box-footer">
              <div class="inner">
                <br>
                <h5>Customers</h5>
                <p>Details</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-sm-3 col-md-4">
          <!-- small box -->
          <div class="small-box bg-gradient-primary">
            <a href="{% url 'devices' %}" class="small-box-footer">
              <div class="inner">
                <br>
                <h5>Device</h5>
                <p>Details</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-cancel"></i>
              </div>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-sm-3 col-md-4">
          <!-- small box -->
          <div class="small-box bg-warning">
            <a href="{% url 'interfaces' %}" class="small-box-footer">
              <div class="inner">
                <br>
                <h5>Interface</h5>
                <p>Details</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-pulse-strong"></i>
              </div>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-sm-3 col-md-4">
          <!-- small box -->
          <div class="small-box bg-danger">
            <a href="{% url 'deviceinfo' %}" class="small-box-footer">
              <div class="inner">
                <br>
                <h5>Manage</h5>
                <p>Device</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            </a>
          </div>
        </div>
        <!-- ./col -->
        <div class="col-lg-2 col-sm-6 col-md-4">
          <!-- small box -->
          <div class="small-box bg-gradient-primary">
            <a href="{% url 'BSCCL-DHK-CORE-01' %}" class="small-box-footer">
              <div class="inner">
                <br>
                <h5>Access</h5>
                <p>Details</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-cancel"></i>
              </div>
            </a>
          </div>
        </div>
        <div class="col-lg-2 col-sm-6 col-md-4">
          <!-- small box -->
          <div class="small-box bg-gradient-success">
            <a href="{% url 'routestat' %}" class="small-box-footer">
              <div class="inner">
                <br>
                <h5>BGP</h5>
                <p>view</p>
              </div>
              <div class="icon">
                <i class="ion ion-pie-graph"></i>
              </div>
            </a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </div>
  </div>