{% extends 'Cportal/main-customer.html' %} 
{% load static %} 
{% load widget_tweaks %} 
{% block content %}

<div class="container-fluid container-fluid Left">
  <br />
  {% include 'Cportal/Customer/c-status.html' %}
  <div class="container col-lg-6 Left>
  <div style="margin: 10px">
    <!-- <h1>Contact</h1> -->
    <h4>Contact us directly if you have any questions</h4>
    <p>
      Please write your name, email address and a message below if you have any
      questions. One of our staff members will be happy to contact you directly
      and answer your questions as soon as possible.
    </p>
  </div>
  </div>
  <div class="container col-lg-6">
    <div class="well well-sm">
      <form role="form" method="post" novalidate id="form">
        {% csrf_token %} 
        {% for hidden_field in form.hidden_fields %} 
          {{hidden_field }} 
        {% endfor %} 
        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %} 
              {{ error }} 
            {% endfor %}
          </div>
        {% endif %} 
        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }} 
            {% if form.is_bound %} 
              {% if field.errors %}
                {% render_field field class="form-control is-invalid" %} 
                {% for error in field.errors %}
                  <div class="invalid-feedback">{{ error }}</div>
                {% endfor %} 
              {% else %} 
                {% render_field field class="form-control	is-valid" %} 
              {% endif %} 
            {% else %} 
              {% render_field field class="form-control" %} 
            {% endif %} 
            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %} 
        {% if messages %} 
          {% for message in messages %} 
            {% if message.tags == 'success' %}
              <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'info' %}
              <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'warning' %}
              <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% elif message.tags == 'error' %}
              <script type=text/javascript>toastr.{{ message.tags }}('{{ message }}')</script>
            {% endif %} 
          {% endfor %} 
        {% endif %}
        <button type="submit" class="btn btn-primary float-right">
          Submit
        </button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

